*{
	line-height: 18px;
	margin: 0;
	padding: 0;
	
}
#wrapper{
	background-color: #E6EBF0;	
	margin: 0px auto;	 
	width: 980px;
}
#top_banner{
	border-bottom: 1px solid grey;
	height: 50px;	
}
#top_banner img{
	display: inline-block;
	height:40px; 
    margin-top:10px; 
    vertical-align: top;
    width: 300px;
} 
#top_banner h1{
	display: inline-block;
	font-size: 20px;
	height: 30px;
	margin-left: 370px;
	margin-top: 20px;
	vertical-align: top;
	width: auto;
}
#top_navigation{
	height: 30px;
	margin-bottom: 10px;
}
#top_navigation ul{
	list-style-type: none;
	margin-left:20px; 
}
#top_navigation ul li{
	display: inline-block;
	margin: 10px;
	padding: 2px;
}
#top_navigation ul li a{
	text-decoration: none;
}
#top_navigation ul li a:hover{
	 color: red;
}
#top_navigation ul li a{
	color: black;
	font-weight: bold;
}
#main_content{
	background-color: black;
	color: white;
	height: 980px;
	padding-left: 20px;
}
#main_image{
	border:2px solid white;
	display: inline-block;
	height: 250px;
	margin:10px; 
	vertical-align: top;
	width: 350px;
}
#first_para{
	display: inline-block;
	height: 250px;
	margin:10px; 
	vertical-align: top;
	width: 550px;
}
#first_para h1{
	background-color:#FFCC66;
	color: black;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	padding: 3px;
}
#first_para h3{
	font-size: 13px;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
}
#first_para p{
	background-color:black;
	color: white;
	font-size: 12px;
	margin: 18px;
}
#subsection_container{
	width:915px;	
}
.sub_section{
	border: 2px solid white;
	background-color: white;
	display: inline-block;
	height: 265px;
	width: 205px;
	margin-top: 13px;
	vertical-align: top;
	margin-left: 15px;
}
.sub_section h3{
	 background-color: orange;
	 color: black;
	 font-size: 12px;
	 padding: 2px;
}
.sub_section p{
	 color: white;
	 color: black;
	 font-size: 10px;
	 height: 115px;
	 padding: 2px;
	 width:198px;
}
.sub_section img{
	height: 100px;
	width: 205px;
}
.sub_section p a{
    background-color: #FFCC66;
    border: 2px solid black;width:40px;
    font-size:10px; 
    color: black;
    height: 20px;
    margin-left: 120px;
}
#small_banner{
	width: 800px;
	height: 10px;
	margin-left: 15px;
	margin-top: 2px;
	margin-bottom: 5px;
}
#small_banner img{
	width: 100px;
	height: 20px;
}
#small_banner p{
	width: 300px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}